# python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/

# data & weights
data/
datasets/
*.pt
*.pth
*.onnx
*.mp4
*.zip

# results
runs/
outputs/
*.log

# env & editor
.env
.vscode/
.DS_Store

# YOLO 생성 파일
runs/
*.pt
*.mp4
*.mov

# Python 캐시
__pycache__/
*.pyc
